@model KendoTest.Models.TBLKhoa
@{
    ViewBag.Title = "CreateKhoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
    <div class="k-w-300">
        @using (Html.BeginForm("CreateKhoa", "Khoa", FormMethod.Post))
        {
            @*@Html.HiddenFor(x => x.Makhoa)*@
        <div class="row">
            <div class="form-group col-3">
                <div class="form-label">
                    <label>Mã khoa</label>
                </div>
                @Html.TextBoxFor(x => x.Makhoa, new { @class = "form-control" })
            </div>
            <div class="form-group col-3">
                <div class="form-label">
                    <label>Tên khoa</label>
                </div>
                @Html.TextBoxFor(x => x.Tenkhoa, new { @class = "form-control" })
            </div>
            <div class="form-group col-3">
                <div class="form-label">
                    <label>Điện thoại</label>
                </div>
                @Html.TextBoxFor(x => x.Dienthoai, new { @class = "form-control" })
            </div>
        </div>
            <br />
            <button type="submit" id="submit" class="btn btn-primary">Lưu</button>

        }
        @*<button type="submit" id="submit">Tạo</button>*@

    </div>
</div>