@model KendoTest.Models.TBLGiangVien
@{
    ViewBag.Title = "EditGV";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lst = ViewBag.ListKhoa;
    //var Actioname = "EditGV";
    //if (ViewBag.IsAdd)
    //{
    //    Actioname = "AddGV";
    // }
}
<div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
    <div class="row mt-1 mb-1 ">
        <div class="col">
            <h5>Chỉnh sửa giảng viên</h5>
        </div>
    </div>
    <div class="k-w-300">
        @using (Html.BeginForm("EditGV", "GiangVien", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Magv)
            <div class="row">
                <div class="form-group col-3">
                    <div class="form-label">
                        <label>Họ tên</label>
                    </div>
                    @Html.TextBoxFor(x => x.Hotengv, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    <div class="form-label">
                        <label>Lương</label>
                    </div>
                    @Html.TextBoxFor(x => x.Luong, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    <div class="form-label">
                        <label>Khoa</label>
                    </div>
                    @Html.DropDownListFor(x => x.Makhoa, (IEnumerable<SelectListItem>)ViewBag.ListKhoa, new { @class = "btn btn-primary" })
                </div>

            </div>
            <br />
            <button type="submit" id="submit" class="btn btn-primary">Lưu</button>

        }
    </div>
</div>