@{
    ViewBag.Title = "Home Page";
}
<div class="row mt-1 mb-1 ">
    <div class="col">
        <div class="float-lg-end">
            @Html.ActionLink("Tạo", "CreateGV", "GiangVien", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<main>
    @using Kendo.Mvc;
    @using Kendo.Mvc.UI;
    @using Kendo.Mvc.UI.Fluent;
    @using KendoTest.Models;
    @{
        var thuctap = Model;
        ViewBag.Title = "Home Page";
        string action = "LoadList";
        string controllerName = "GiangVien";
    }
    @(Html.Kendo().Grid<TBLGiangVien>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Hotengv).Title("Họ tên");
        columns.Bound(x => x.Luong).Title("Lương");
        columns.Bound(x => x.Makhoa).Title("Mã khoa");
        columns.Bound(x => x.Magv)
       .Title("Actions")
       .ClientTemplate("<a class='btn btn-primary' href='" + Url.Action("EditGV", "GiangVien") + "?maGV=#=Magv#'" + ">Edit</a> | <a class='btn btn-primary' href='" + Url.Action("DeleteGV", "GiangVien") + "?maGV=#=Magv#'" + ">Delete</a>");

    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Read(read => read.Action(action, controllerName)))
    .Pageable()
    .Scrollable(scroll => scroll.Height("auto"))
    .Sortable().Selectable()
    )
</main>
